.new {
    width: 100%;
    padding: 5px;
    margin-left: 0px;
    
}

/* .new input {
    
    height: 100%;
    margin: 0;
    
    padding: 5px;
} */

.message__input input[type=text] {   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}
.message__input {
    font-family: "Press Start 2P";
    width: 100%;
    height: 50px;
    border: #fff;
    border-bottom: 3px solid #4668A1;
    padding: 10px;
    outline: none;
    background: #eee;
}
